<cfset authService = new cfc.service.AuthService()>
<cfset email = (isDefined("form.email") ? form.email : "")>
<cfset password = (isDefined("form.password") ? form.password : "")>

<cfset authService.auth(email, password)>
<cflocation url="/rpc/show-issues.cfm" addtoken="false">

