html {
    margin: 0px;
    height: 100%;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0px;
    height: 100%;    
}

a:active,
a:visited,
a:link,
a:hover {
    text-decoration: none;
}


/*
 * Login
 */
#login-form-container {
    margin: 0px;
    height: 100%;    
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    color: #999;
    font-size: 3em;
    text-align: center;
}

.input {
    background-color: #555;
    border: 1px solid gray;
    border-radius: 0.3em;
    margin: 0.3em;
    padding: 1em;
    color: #999;
    outline: none;
    font-size: 1.3em;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 10em #555 inset;
}

.input:-webkit-autofill {
    -webkit-text-fill-color: #999;
}

.input-button {
    font-size: 1.3em;
    border: none;
    border-radius: 0.3em;
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.3em;
    background-color: #333;
    color: #bf7f07;
    text-align: center;
}

.input-button:hover {
    cursor: pointer;
    color: #bf7f07;
    background-color: #222;
}

/*
 * Issues list
 */
#issues-container {
    margin: 0px;
    height: 100%;    
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.table {
    color: #999;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.table-header-row {
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid #555;
}

.table-header-cell {
    display: inline-block;
    width: 15%;
}

.table-row,
.table-row:active,
.table-row:visited,
.table-row:link {
    color: #999;
    display: block;
    width: 100%;
    text-decoration: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.table-row:hover {
    display: block;
    color: #bf7f07;
    background-color: #333;
    text-decoration: none;
}

.table-cell {
    display: inline-block;
    width: 15%;
}

/*
 * Issue page
 */
#issue-container {
    margin: 0px;
    height: 100%;    
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: start;   
}

.save-form {
    display: flex;
    flex-direction: column;
    width: 40em;
}

.save-input {
    background-color: #444;
    border: 1px solid gray;
    border-radius: 0.3em;
    margin: 0.3em;
    padding: 0.5em;
    color: #999;
    outline: none;
    font-size: 1.3em;
}

.save-input:-webkit-autofill,
.save-input:-webkit-autofill:hover,
.save-input:-webkit-autofill:focus,
.save-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 10em #444 inset;
}

.save-input:-webkit-autofill {
    -webkit-text-fill-color: #999;
}

.table-cell-3 {
    display: inline-block;
    width: 32%;
}